In [1]:
a = [1, 3, 5, 7, 9, 11]

In [2]:
# want to create a list which is doubble like [2, 6, 10, 14, 18, 22]

In [3]:
b = []
b.append(10)
b.append(15)
print(b)

[10, 15]

In [4]:
c = []
for x in a:
    c.append(x*2)

In [5]:
print(c)

[2, 6, 10, 14, 18, 22]

In [6]:
d = []
for x in c:
    d.append(x-1)
print(d)

[1, 5, 9, 13, 17, 21]

In [7]:
e = []
for x in d:
    e.append(x*5)
print(e)

[5, 25, 45, 65, 85, 105]

In [8]:
f = [x-2 for x in e]

In [9]:
print(f)

[3, 23, 43, 63, 83, 103]

In [12]:
salary = [x*20 for x in f]
print(salary)

[60, 460, 860, 1260, 1660, 2060]

In [13]:
# make a square list for numbers between 5 and 10

In [14]:
square_list = []
for x in range(5, 11):
    square_list.append(x ** 2)
print(square_list)

[25, 36, 49, 64, 81, 100]

In [15]:
square_list = [x ** 2 for x in range(5, 11)]

In [16]:
print(square_list)

[25, 36, 49, 64, 81, 100]

In [17]:
# make this list [36, 25, 16, 9, 4, 1]

In [20]:
for x in range(6, 0, -1):
    print(x)

6
5
4
3
2
1

In [21]:
lst = []
for x in range(6, 0, -1):
    lst.append(x**2)
print(lst)

[36, 25, 16, 9, 4, 1]

In [24]:
lst1 = [x**2 for x in range(6, 0, -1)]
print(lst1)

[36, 25, 16, 9, 4, 1]

In [25]:
lst2 = [x**2 for x in range(15, 5, -3)]
print(lst2)

[225, 144, 81, 36]