In [1]:
a = ["banana", "apple", "microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [3]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [4]:
b = [20, 10, 5]
for element in b:
    print(element)

20
10
5

In [5]:
c = [1, 2, 3]

In [6]:
for x in c:
    print(x)

1
2
3

In [7]:
z = [12, 13, 14, 17]
total = 0
for e in z:
   total = total + e
print(total)

56

In [8]:
g = [1, 2, 3 , 4]
sumation = 0
for c in g:
    sumation = sumation + c
print(sumation)

10

In [9]:
# 1, 2, 3 , 4, 5, 6, 7, 8, 9
range(1, 10)
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
l = list(range(1, 10))

In [11]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [13]:
the_number_for_all_persion = list(range(1, 23))

In [14]:
print(the_number_for_all_persion)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [15]:
for i in range(1, 23):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [16]:
total = 0
for e in range(1, 50):
    total = total + e

In [17]:
print(total)

1225

In [18]:
total2 = 0
for x in range(1, 101):
    total2 += x
print(total2)

5050

In [19]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [20]:
# module operetor
# what is left is called reminder
print(3 % 2)

1

In [21]:
print(10 % 3)

1

In [22]:
print(25 % 7)

4

In [23]:
total3 = 0
for s in range(1, 101):
    if s % 4 == 0:
        total3 += s
print(total3)

1300

In [24]:
# compute all the numbers multiples of 3, 5
# that are less than 100
t = 0
for e in range(1, 101):
    if e % 3 == 0:
        t += e
print(t)

1683

In [25]:
f = t

In [26]:
t1 = 0
for e in range(1, 101):
    if e % 5 == 0:
        t1 += e
print(t1)

1050

In [27]:
list1 = [1683, 1050]

In [28]:
total5 = 0
for e in list1:
    total5 += e
print(total5)

2733

In [29]:
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]